@font-face {
  font-family: "Nortune";
  src: url("Gardion-font.otf") format("truetype");
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Gardion", sans-serif;
  font-weight: 400; /* Normal weight, bisa disesuaikan dengan 300 (light) atau 500 (medium) */
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  
  /* Ganti background jadi logo dengan efek blur */
  background: url('https://github.com/pusatrekber/pusatrekber.github.io/raw/main/background-git.png') no-repeat center center fixed;
  background-size: cover; /* Biar logo full cover */
  color: #fff;
  backdrop-filter: blur(8px); /* Efek blur pada background */
}

.container {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;
}



.avatar{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #00f0ff;
  box-shadow:0 0 30px rgba(0,240,255,.9);
  margin:0 auto 20px;
  display:block;
}

.title{
  font-size:42px;
  font-weight:900;

  display:flex;
  justify-content:center;
  align-items:center;

  gap:10px;
  margin:10px 0;

  font-family:"Nortune", sans-serif;
  letter-spacing:2px;

  white-space:nowrap;
}

.verified{
  width:44px;
  height:44px;
  margin-top:4px;
  flex-shrink:0;
}



.subtitle{
  font-size:10px;
  font-weight:600;
  color:rgba(255,255,255,.75);
  margin-bottom:15px;
}

.subtitle{
  display:none;
}


.links{
  margin-top:10px;
}

.btn{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  width:100%;
  margin:12px auto;
  padding:14px;
  border-radius:18px;
  text-decoration:none;
  color:#fff;
  font-weight:800;
  border:2px solid #00f0ff;
  background: rgba(0,0,0,.6);
  box-shadow:0 0 18px rgba(0,240,255,.6);
  transition:.2s ease;
}

.btn:hover{
  transform: none;
  background: #001f4d; /* ubah background kalau di-hover */
}


.btn img{
  width:20px;
  height:20px;
}

.notice{
  margin-top:28px;
  color:#aaa;
}

footer{
  margin-top:15px;
  font-size:12px;
  color:#888;
}


.profile{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.trust-strip{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  font-size: 18px;
  font-weight: 700;

  margin-top: 12px;
  margin-bottom: 28px;
}

.trust-strip span{
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
}


